PyMuPDF==1.24.14
brotli==1.2.0
cffi==2.1.1
cssselect2==0.10.1
fonttools==4.65.0
html5lib==1.1
pillow==11.1.0
pycparser==3.0
pydyf==0.10.0
pyphen==0.18.1
six==1.17.0
tinycss2==1.5.1
weasyprint==62.3
webencodings==0.6.1
zopfli==0.4.3
